---
import TechnologiesUsed from "../../components/TechnologiesUsed.astro";
import ProjectLinks from "./ProjectLinks.astro";
import type { IProject } from "../../types/index.ts";
import CustomParagraph from "../CustomParagraph.astro";
import CustomH3 from "../CustomH3.astro";

interface Props {
  project: IProject;
}
const { project } = Astro.props;
const { description, image, links, name, technologies } = project;
---

<article class="flex flex-col gap-6">
  <CustomH3 className="text-yellow-500">
    <span class="project-title block">
      {name}
    </span>
  </CustomH3>
  <CustomParagraph>{description}</CustomParagraph>
  <TechnologiesUsed technologies={technologies} />
  <picture class="relative">
    <span class="absolute -z-10 inset-0 rounded-xl blur-sm opacity-40 bg-white"
    ></span>
    <img class="rounded-xl" src={image.src} alt={image.alt} />
  </picture>
  <ProjectLinks links={links} />
</article>

<style>
  @media (width <= 400px) {
    .project-title {
      text-align: center;
    }
  }
</style>
