---
import DropDownIcon from "../components/icons/DropDownIcon.astro";
import CloseIcon from "../components/icons/CloseIcon.astro";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));

const navItems = [
  {
    id: t("header.nav.items.top.id"),
    label: t("header.nav.items.top.label"),
    title: t("header.nav.items.top.title"),
  },
  {
    id: t("header.nav.items.experience.id"),
    label: t("header.nav.items.experience.label"),
    title: t("header.nav.items.experience.title"),
  },
  {
    id: t("header.nav.items.projects.id"),
    label: t("header.nav.items.projects.label"),
    title: t("header.nav.items.projects.title"),
  },
  {
    id: t("header.nav.items.about.me.id"),
    label: t("header.nav.items.about.me.label"),
    title: t("header.nav.items.about.me.title"),
  },
  {
    id: t("header.nav.items.contact.id"),
    label: t("header.nav.items.contact.label"),
    title: t("header.nav.items.contact.title"),
  },
];
---

<header
  id="nav-header"
  class="flex justify-center items-center w-full fixed z-50 backdrop-blur-xl p-3"
>
  <nav class="flex gap-8 z-50" id="desktop-nav-bar-container">
    {
      navItems.map((item) => (
        <a
          href={item.id}
          class="transition-colors text-sm tracking-wide hover:text-blue-400 hover:scale-110 responsive-nav-item"
          aria-label={item.label}
        >
          {item.title}
        </a>
      ))
    }
  </nav>
  <span class="absolute inset-0 w-full flex items-center justify-between px-6">
    <LanguagePicker />
    <span
      id="drop-drown-btn"
      class="hidden bg-blue-600 rounded-full hover:scale-110 cursor-pointer hover:bg-blue-400 z-50"
    >
      <DropDownIcon class="size-8" id="drop-down-icon" />
      <CloseIcon class="size-8 hidden" id="close-icon" />
    </span>
  </span>
  <nav
    id="drop-down-nav-bar-container"
    class="hidden fixed bg-[rgba(0,0,0,.85)] h-screen w-screen top-11 left-0 z-40"
  >
    <div class="flex items-center justify-center h-full w-full">
      <div class="flex flex-col gap-y-10">
        {
          navItems.map((item) => (
            <a
              href={item.id}
              class="transition-colors tracking-wide hover:text-blue-400 hover:scale-110 text-2xl text-center"
              aria-label={item.label}
            >
              {item.title}
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</header>

<style>
  .current-section-focused {
    text-align: center;
  }

  @media (width > 600px) {
    #drop-down-nav-bar-container {
      display: none;
    }
  }

  @media (width <= 600px) {
    #desktop-nav-bar-container {
      display: grid;
      grid-template-columns: repeat(5, 100%);
      grid-template-rows: 1fr;
    }

    .current-section-focused {
      grid-column: 1 / 2;
    }

    .responsive-nav-item {
      color: #d8b4fe;
      text-transform: uppercase;
      transform: scale(1);
    }

    #desktop-nav-bar-container > :not(.current-section-focused) {
      display: none;
    }

    #drop-drown-btn {
      display: block;
    }
  }
</style>

<script>
  const drowDownBtn = document.getElementById("drop-drown-btn");
  const dropDownNavBarContainer = document.getElementById(
    "drop-down-nav-bar-container"
  );
  const dropDownIcon = document.getElementById("drop-down-icon");
  const closeIcon = document.getElementById("close-icon");
  let navBarContainerIsVisible = false;

  const setDropDownActivated = (newState) => {
    navBarContainerIsVisible = newState;
  };

  drowDownBtn.addEventListener("click", (event) => {
    setDropDownActivated(!navBarContainerIsVisible);
    if (navBarContainerIsVisible) {
      // Toggle icon
      dropDownIcon.classList.add("hidden");
      dropDownIcon.classList.remove("block");
      closeIcon.classList.add("block");
      closeIcon.classList.remove("hidden");
      // Toggle nav-bar container
      dropDownNavBarContainer.classList.add("block");
      dropDownNavBarContainer.classList.remove("hidden");
    } else {
      // Toggle icon
      dropDownIcon.classList.add("block");
      dropDownIcon.classList.remove("hidden");
      closeIcon.classList.add("hidden");
      closeIcon.classList.remove("block");
      // Toggle nav-bar container
      dropDownNavBarContainer.classList.remove("block");
      dropDownNavBarContainer.classList.add("hidden");
    }
  });
</script>
